%img{:src => "#{@user.image if @user.image} "}

%p
  %b Nickname: 
  = link_to @user.nickname, 'http://www.twitter.com/'+@user.nickname
%p
  %b Description: 
  #{@user.description if @user.description}

- if correct_user?
  %p
    %b User: 
    #{@user.name}
  %p
    %b Email: 
    #{@user.email if @user.email}
  

%a.btn.btn-primary{:href => edit_user_path}
  Edit your information
