%h2 Most recent posts
- if @posts.length > 0
  %table.table.table-striped
    %thead
      %tr
        %th Author
        %th Post
        %th
    %tbody
      - @posts.each do |post|
        %tr
          %td
            %img{:src => "#{post.user.image if post.user.image} "}
            = link_to post.user.nickname, post.user
            
          %td 
            %blockquote
              #{post.description}
          %td 
            =link_to 'See more..', post
- else
  %p No posts yet!
  %a.btn.btn-primary{:href => "#{new_post_path}"}
    Create a new post!

%h3 Users in the system
- @users.each do |user|
  %p 
    User: 
    = link_to user.nickname, user
