%h1 Most recent sessions nearby
- if @posts.length > 0
  %table.table.table-striped
    %thead
      %tr
        %th When
        %th Author
        %th Post
        %th Location
        %th Attending
        %th
    %tbody
      - @posts.each do |post|
        %tr
          %td
            %i
              posted
              = time_ago_in_words(post.created_at)
              ago
          %td
            %img{:src => "#{post.user.image if post.user.image} "}
            = link_to '@'+post.user.nickname, post.user
            
          %td 
            %blockquote
              #{post.description}
              
              
          %td 
            - if post.location
              = link_to post.location.name, post_path(post)
            - elsif post.coordinates
              near
              = ManualGeocoder.geocode_full(post.coordinates)
          %td
            = post.attendee_count+1
          %td 
            =link_to 'See more..', post
- else
  %p No posts yet!
    
= link_to 'Sesh now!', new_post_path, :class => "btn btn-primary btn-large"
