%h1 Listing sessions

- if @twitter.length > 0
  %h2 Listing tweets
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th When
        %th User
        %th Tweet
        
    %tbody
      - @twitter.each do |tweet|
        %tr
          %td
            #{time_ago_in_words(tweet.created_at)} ago
          %td
            = link_to '@'+tweet.from_user, 'http://www.twitter.com/'+tweet.from_user
          %td
            = link_to tweet.text, 'http://www.twitter.com/'+tweet.from_user+'/status/'+tweet.id.to_s

%table.table.table-striped.table-bordered
  %tr
    %th Posted
    %th Author
    %th Description
    %th
    %th
    %th

  - @posts.each do |post|
    %tr
      %td
        = time_ago_in_words(post.created_at)
        ago
        
      %td
        = link_to '@'+post.owner.nickname, user_path(post.owner)
      %td= post.description
      
      %td= link_to 'Show', post
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post, :data => { :confirm => 'Are you sure?' }, :method => :delete

%br

= link_to 'Sesh now!', new_post_path, :class => "btn btn-primary"
