%p#notice= notice

%p
  %b Description:
  = @post.description
%p
  %b Short url:
  = @post.short_url
%p
  %b Author:
  = link_to @post.user.nickname, @post.user

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path
