- content_for :head do
  = javascript_include_tag "gmap_single_location"

%p#notice= notice

%h1
  %img{:src => "#{@post.user.image if @post.user.image} "}
  = link_to '@'+@post.user.nickname, @post.user
  sesh'd
  - if @post.location
    at
    %a{:href => "#{location_path(@post.location)}"}
      #{@post.location.name}
  - elsif @post.coordinates
    near
    = ManualGeocoder.geocode_full(@post.coordinates)
    
%p
  %i
    posted
    = time_ago_in_words(@post.created_at)
    ago
.row
  .span8  
    %h4
      %blockquote.well
        &quot;
        = @post.description
    
    
    %p 
      %b Who else is going?
    - if @post.attendances  
      - if @post.attendances.size > 0
        %table.table.table-striped.table-bordered
          %thead
            %tr 
              %th
              %th Who
              %th Time announced
          - @post.attendances.each do |attendee|
            %tr
              %td
                %img{:src => "#{attendee.user.image if attendee.user.image} "}
              %td
                =link_to '@'+attendee.user.nickname, user_path(attendee.user) 
              %td
                = time_ago_in_words(attendee.created_at)
                ago
                
      - else 
        - if current_user != @post.user
          %p.well Be the first to attend!
        - else
          %p.well 
            Let your friends know you're going! 
            %b
              = link_to 'Post this to Twitter!', '/post_to_twitter/'+@post.id.to_s
      
    
    - if current_user
      - if current_user.already_attending?(@post)
        %a.btn.btn-primary#attend{:href => '/unattend/'+@post.id.to_s} Bail out!
      -else
        - if @post.user != current_user
          %a.btn.btn-primary#attend{:href => '/attend/'+@post.id.to_s} Attend!
    

  .span4
  - if @post.location
    %p
      %b
        = link_to @post.location.name, location_path(@post.location)
        %br
        = @post.location.city
        \-
        = @post.location.country
    #single_location{:location_id => "#{@post.location.id}"}
  - elsif @post.coordinates
    %p
      %b
        = ManualGeocoder.geocode_full(@post.coordinates)
    #single_location{:latitude => "#{@post.coordinates[0]}", :longitude => "#{@post.coordinates[1]}"}
    
.row
  .span4
    - if current_user
      = link_to 'Edit', edit_post_path(@post)
      \|
    = link_to 'Back', posts_path
