%p#notice= notice

%p
  %img{:src => "#{@post.user.image if @post.user.image} "}
  = link_to @post.user.nickname, @post.user
  on #{@post.created_at.to_s(:long)} 
  - if @post.location != nil
    %a{:href => "#{location_path(@post.location)}"}
      at #{@post.location.name}
  - elsif @post.latitude && @post.longitude
    at coordinates
    %i #{@post.latitude}, #{@post.longitude}

%p
  %blockquote.well
    = @post.description

- if current_user
  = link_to 'Edit', edit_post_path(@post)
  \|
= link_to 'Back', posts_path
