%h1 Listing locations

%table.table.table-striped.table-bordered
  %tr
    %th Name
    %th Street address
    %th City
    %th Sessions
    %th
    %th
    %th

  - @locations.each do |location|
    %tr
      %td= location.name
      %td= location.street_address
      %td= location.city
      %td= location.posts.count
      %td= link_to 'Show', location
      - if current_user
        %td= link_to 'Edit', edit_location_path(location)
        %td= link_to 'Destroy', location, :data => { :confirm => 'Are you sure?' }, :method => :delete

%br

- if current_user
  = link_to 'New Location', new_location_path, :class => "btn btn-primary"
  
= render 'map'
