- content_for :head do
  = javascript_include_tag "gmap_multi_location"
  
%h1 Listing locations

%table.table.table-striped.table-bordered
  %tr
    %th Name
    %th Street address
    %th City
    %th Sessions
    - if current_user && current_user.admin?
      %th Remove location

  - @locations.sort(posts: 1).each do |location|
    %tr
      %td
        = link_to location.name, location_path(location)
      %td= location.street_address
      %td= location.city
      %td= location.posts_count
      - if current_user && current_user.admin?
        %td= link_to '[ x ]', location, :data => { :confirm => 'Are you sure?' }, :method => :delete

%br

- if current_user
  = link_to 'New Location', new_location_path, :class => "btn btn-primary"
  
= render 'map'
